{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
{% if succ %}
<div class="alert alert-success" role="alert">{{ succ }}</div>

{% endif %}
<div class="welcome-txt">
    <h1>Welcome to Home page</h1>
    <a id="about" href="about">About Us</a>
    <a id="sign" href="signup">SignUp</a>
</div>
<style>
body{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 234, 93);
}

.welcome-txt{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 45%;
    text-align: center;
}

.welcome-txt h1{
    text-align: center;
    color:  rgb(169, 6, 245);
    text-transform:uppercase;
    font-size: 60px;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-txt h1:hover{
    color: rgb(0, 0, 0) ;
}

  #about{
    border: 1px solid black;
    padding: 7px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background:rgb(18, 249, 2);
    cursor: pointer;
}

    #sign{ 
    border: 1px solid black;
    padding: 7px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background:rgb(0, 0, 0);
  
}

 #sign:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0) ;
    
}
</style>

{% endblock content %}