{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block content %}
  
      <header>
          <div class="wrapper">
            
          </div>
          <div class="welcome-txt">
            <br>
            <br>
            <center> <h3>Welcome to your profile page !!!</h3>
            <div class="inputBx">
              <br>

              <a href="login"><input type="submit" value="Logout" name=""> </a>
            </div>
        </center>
      </header>

      <style>
      body{
        margin: 0;
        padding: 0;
        background-color:  rgb(252, 234, 93);
            }
        h3{
          color: rgb(25, 0, 255);
        }
      </style>


  {% endblock content %}
 