<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StuDiN | Skill & Job Recommender</title>
    <link rel="stylesheet" href="https://studin.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
    <link rel="stylesheet" href="https://studin.s3.jp-tok.cloud-object-storage.appdomain.cloud/stylereg.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <img src="https://studin.s3.jp-tok.cloud-object-storage.appdomain.cloud/studinlogo.png" alt="logo"
        width="180px"; height="55px">

      </div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="index.html">SignIn</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    
  </nav>
  <div class="regimg">
  <img src="https://studin.s3.jp-tok.cloud-object-storage.appdomain.cloud/register.png" width="850px" ;height="550px">
</div>

<div class="container">
  <div class="text">
      <h1>Register</h1>
      <p>Stay updated on your professional world</p>
  </div>
  <div class="your-input">
    <div class="input">
      <input type="text" name="fullname" 
          id="fullname" required />
      <label for="fullname">Full name</label>
  </div>
  <div class="input">
    <input type="number" name="age" 
        id="age" required />
    <label for="age">Age</label>
</div>
<div class="input">
  <input type="text" name="mobileno" 
      id="mobileno" required />
  <label for="email">Mobile</label>
</div>
      <div class="input">
          <input type="text" name="email" 
              id="email" required />
          <label for="email">Email</label>
      </div>
      <div class="input">
          <input type="password" name="password" 
              id="password" required />
          <label for="password">
              Password
          </label>
      </div>
      
  </div>
  <a href="#" class="forgot-password-link">
      Forgot Password?
  </a>
  <button onclick="validate()">Register</button>
  <p class="join-link">
      New to Studentin?
      <a href="index.html" class="join-now">
          Signin now
      </a>
  </p>
</div>
<footer>
  <p>Team StuDiN</p>
  <p>For more HTML, CSS, and coding tutorial - please click on the link below to subscribe to my channel:</p>
  <p class="end"></p>
</footer>
<div class="sub-footer">
  <p>Copyright &copy; 2022- Studin Skill & Job Recommender 

- Design  <a rel="nofollow" href="http://www.google.com">Google</a></p>
</div>
</body></html>